<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  
  <div id="app">
    <div class="container"
      v-if="emails.length === 10"
    >

      <ul>
        <li
          v-for=" (email,index) in emails"
        >email numero {{ index +1 }} = {{ email }}</li>
        <!-- <li>email numero 2 = {{ email[1] }}</li>
        <li>email numero 3 = {{ email[2] }}</li>
        <li>email numero 4 = {{ email[3] }}</li>
        <li>email numero 5 = {{ email[4] }}</li>
        <li>email numero 6 = {{ email[5] }}</li>
        <li>email numero 7 = {{ email[6] }}</li>
        <li>email numero 8 = {{ email[7] }}</li>
        <li>email numero 9 = {{ email[8] }}</li>
        <li>email numero 10 = {{ email[9] }}</li> -->
      </ul>
      
    </div>
 
      <div
        v-else
      >
        <h1>Loading...</h1>
      </div>

  </div>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="js/script.js"></script>
</body>
</html>